/*
* @Author: zxy
* @Date:   2018-01-04 17:20:29
* @Last Modified by:   zxy
* @Last Modified time: 2018-01-05 14:46:36
*/
@charset  "utf-8";
@font-face {font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
	text-align:left;
	width:100%;
	overflow:hidden;
	background:#e9dfc7;
}
.container{
	font-size:14px;
	color:#555;
	line-height:31px;
	// padding:5px;

	.a_container{
		margin:0 5px 0;
		h4{
			font-size:20px;
			color:#736357;
			border-bottom:1px solid #736357;
			letter-spacing:2px;
		}
		p{
			text-indent:2em;
			margin:0.5em 0;
			line-height:24px;

		}

	}
	.btns{
		width:70%;
		max-width:800px;
		padding:5px;
		margin: 0 auto;
		.tabs{
			height:34px;
			margin:10px auto;
			line-height:34px;
			border-radius:8px;
			border:1px solid #658382;
			font-size:12px;
			background:#000;
			opacity:0.9;
			li{
				display:inline-block;
				width:49%;
				text-align:center;
				border-right:1px solid #858382;
				color:#fff;
				&:nth-child(2){
					border-right:none;
				}

			}
		}
	}
	.top-nav{
		position:fixed;
		top:0;
		height:50px;
		width:100%;
		z-index:2;
		background:#000;
		.icon-back{
			display:inline-block;
			width:10px;
			height:10px;
			border:1px solid #fff;
			border-left:none;
			border-bottom:none;
			transform:rotate(-135deg);
			position:relative;
			top:8px;
			left:15px;
		}
		.nav-title{
			color:#d5d5d6;
			position:absolute;
			top:8px;
			left:42px;

		}
	}
	.footer-nav{
		position:fixed;
		bottom:0;
		height:70px;
		background:#000;
		width:100%;
		padding-right:10px;
		z-index:3;
		span{
			display:inline-block;
			width:23%;
			margin-left:40px;
			margin-top:5px;
		}
	}
	.nav-panel-bk{
		position:fixed;
		bottom:69px;
		height:135px;
		width:100%;
		background:#000;
		// opacity:0.9;
		z-index:3;

	}
	.nav-panel{
		position:fixed;
		bottom:70px;
		height:135px;
		width:100%;
		background:none;
		z-index:4;
		color:#fff;
		.ch-mod{
			padding:5px 10px;
			margin:15px;
			span{
				display:inline-block;
				padding-right:20px;
				padding-left:10px;
			}
			button{
				background:none;
				border:1px #8c8c8c solid;
				color:#fff;
				border-radius:16px;
				padding:5px 40px;
				&:nth-child(2){
					margin-right:10px;
					/*选择父级的第二个元素*/
				}
			}

			.bk-container{
				width:30px;
				height:30px;
				border-radius:15px;
				background:#fff;
				display:inline-block;
				position:relative;
				vertical-align:middle;
				margin-left:10px;
				&:nth-child(3){
					background:red;
				}
				.bk-container-current{
					position:absolute;
					width:32px;
					height:32px;
					border-radius:16px;
					border:1px solid #ff7800;
					display:inline-block;
					top:-2px;
					left:-2px;
				}
			}
		}

	}
	.m-artical-action{
		.artical-action{
			position:fixed;
			z-index:6;
			width:100%;
			height:40%;
			top:30%;
			// background:red;
		}
	}
}